.navbar button{
    font-size: 16px;
    border: none !important;
    font-weight: 500;
}
.navbar button i{
    font-size: 24px;
    vertical-align: sub;
}

.product .productImage {
    height: 280px;
    overflow: hidden;
    width: 100%;
}

.product .productImage img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}

.product .btn {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: none !important;
    color: inherit !important;
    padding: 0 15px;
    font-size: 24px;
}

.modal.show {
    display: block;
}